html{
	height:100%;
}
body {
  padding-top: 70px;
  height:100%;
}
header{
	color: black;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

/* .wrapper{
	min-height: 100%;
	position: relative;
}
.content{
	padding-bottom: 60px;
	
}

.footer{
	position: absolute;
	bottom: 15px;
	height: 60px;
}
 */



 button{
	
	margin-left: 80px; 
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition:all 0.3s ease 0s;

}
button:hoven{
	background-color: rgba(0,136,169,0.8);
}
 a:hoven {
	color: #0088a9;

}
 a{
	transition: all 0.3s ease 0s;

}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

li, a, button{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #ecf0f1;
	text-decoration: none;

}

 li{
	display: inline-block;
	padding: 0px 20px;

}
 
 .help-block{
 color:#ff0000;
 }






